<% include ../partials/boilerplate %>

<div class="myForm">
  <div class="edit">
    <form method="POST" action='/todo/<%= todo.id%>?_method=PUT'>
      <input type="text" name="title" placeholder="title" value="<%= todo.title %>" />
      <input type="text" name="description" placeholder="description" value="<%= todo.description %>" />
      <input type="text" name="done" placeholder="done" value="<%= parseInt(todo.done) %>" />
      <input class="button" type="submit" value="Edit it!" />
    </div>
  </form>

  <a href="/todo/<%=todo.id %>">Back to list</a>
</div>
<% include ../partials/end %>
