
<% include ../partials/boilerplate %>

<div class="todo-container">
  <div class="list">
    <p class="title"><%= todo.title %></p>
    <h3><%= todo.description %></h3>
    <div class="meta">
      <span class="done"><%= todo.done %></span>

      <a class="edit" href="/todos/<%=todo.id%>/edit">Edit</a>
      <form class="delete" action="/todo/<%= todo.id%>?_method=DELETE" method="POST">
        <input class="button" type="submit" value="Delete">
      </form>
    </div>
    <a class="button" href="/todo">Back to the list</a>
  </div>
</div>

<% include ../partials/end %>
