<% include ../partials/boilerplate %>
<div class="todo-container">
      <% todos.forEach(todo => { %>
      <div class="todo">
      <span>Title:</span> <%= todo.title %><br>
      <span>Description:</span> <%= todo.description %></br>
      <span>Completed: </span> <%= todo.done %></br>
      <form class="delete" action="/todo/<%= todo.id%>?_method=DELETE" method="POST">
        <button class="button" type="submit">delete</button></form>
        <a class="button" href="/todo/<%= todo.id%>/edit">edit</a></form>

        <a class="button" href="/todo/<%= todo.id%>">info</a>


      </div>

      <% }) %>
  </div>

<% include ../partials/end %>
